@tailwind base;
@tailwind components;
@tailwind utilities;
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  font-family: "Poppins", sans-serif !important;
}
.custom-scrollbar::-webkit-scrollbar {
  background-color: #fff;
  width: 5px;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background-color: #ddd6fe;
  border-radius: 20px;
}
